.seguimiento {
    color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seguimiento .image {
    width: 45%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.seguimiento .image img {
    height: 400px;
}

.seguimiento p {
    padding-right: 2rem;
}

.seguimiento > * {
    width: 50%;
}

.watchlist .highlight,
.seguimiento .highlight {
    color: var(--dark-blue)
}

.moobs .text:last-of-type,
.seguimiento .text:last-of-type {
    text-align: center;
    width: 100%;
    margin: 3rem 0 0;
}

@media only screen and (max-width: 768px) {
    .seguimiento > * {
        width: 100%
    }

    .seguimiento {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .seguimiento .image {
        width: 200px;
        height: 400px;
    }
}