.container {
    text-align: center;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background: var(--dark-blue);
    color: white;
}

.container .text {
    padding: 0 0 2rem;
}

.container .text h1 {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .container .text {
        padding: 0 1rem;
    } 
    
    .container {
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
}
