.watchlist {
    color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.watchlist .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist .image img {
    height: 400px;
}

.watchlist > * {
    width: 45%;
}

.watchlist .full-width {
    text-align: center;
    width: 100%;
    margin: 3rem 0 0;    
}

.watchlist .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .watchlist {
        flex-direction: column;
        text-align: center;
    }

    .watchlist > * {
        width: 100%
    }
}