.modal {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: var(--light-blue);
    font-size: 1rem;
}

.modal label {
    font-size: .8rem;
    color: var(--yellow);
    width: 100%;
    display: inline-block;
}

.modal label.error {
    color: coral;
}

.modal .title {
    color: var(--dark-blue);
    text-align: center;
}

.modal form {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.modal .input-group {
    width: 40%;
}

.modal input {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    border: thin solid var(--yellow);
    box-sizing : border-box;
}

.modal input.error {
    border: thin solid coral;
}

.modal input[type="submit"] {
    padding: 1rem;
    margin: 2rem 0;
    background: var(--dark-blue);
    color: var(--yellow);
    cursor: pointer;
}

.modal input[type="submit"].loading {
    cursor: not-allowed;
    background: gray;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .modal form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .modal {
        width: 100%;
    }

    .modal .input-group {
        width: 100%;
    }
}